<br>
<form action="/articles/delete?_method=DELETE" method="post">
  <input type="text" name="value" placeholder="delete by title or id" autocomplete="off" /><br>
  <input type="submit" value="Delete Articles">
  <input type="submit" value="Delete Products" formaction="/products/delete?_method=DELETE">
</form>

<br>