<form action="/articles" method="get">
  <button class="get-all-articles-btn">All Articles</button>
</form>

<form action="/products" method="get">
  <button class="get-all-products-btn">All Products</button>
</form>

<br>