<br>
<form action="/articles/search" method="post">
  <input type="text" name="value" placeholder="Search by title or id" autocomplete="off" /><br>
  <input type="submit" value="Search Articles">
  <input type="submit" value="Search Products" formaction="/products/search">
</form>

<br>

{{!-- <form action="/products/search" method="post">
  <input type="text" name="id" placeholder="Search products by id" autocomplete="off" /><br>
  <button>Search Products</button>
</form> --}}