<form action="/articles/new" method="get">
  <button class="new-article">Submit New Article</button>
</form>

<form action="/products/new" method="get">
  <button class="new-product">Submit New Product</button>
</form>