<form action="/products/{{id}}?_method=PUT" method="post">
  Name:<br>
  <input type="text" id="product-name" name="name" value="{{name}}" /><br>
  Price:<br>
  <input type="text" id="product-price" name="price" value="{{price}}" /><br>
  Inventory:<br>
  <input type="text" id="product-inventory" name="inventory" value="{{inventory}}" /><br>
  <button id="request-button">Submit</button>
</form>