<form action="/products" method="post">
  Name:<br>
  <input type="text" id="product-name" placeholder="name" name="name"/><br>
  Price:<br>
  <input type="text" id="product-price" placeholder="number" name="price" /><br>
  Inventory:<br>
  <input type="text" id="product-inventory" placeholder="number" name="inventory" /><br>
  <button id="request-button">Submit</button>
</form>