{{> getAllButtons}}

{{> submitNew}}

{{> searchButtons}} <br>

{{> deleteForm}}


<div class="products">
  <h3>Name: {{products.name}}</h3>
  <p>Price: {{products.price}}</p>
  <p>Inventory: {{products.inventory}}</p>
  <p>Id: {{products.id}}</p>
</div>
